/bin/
/app/**/*.js
/app/**/*.js.map
/app/*.metadata.json
/app/*.shim.ts
/app/*.ngfactory.ts
/aot
!/aot/index.html
/node_modules/
/dist/
/cache/
/typings/
/npm-debug.log*
/.idea/
.DS_Store
Thumbs.db
messages.xlf
messages.xlf.bak
locale/*.xlf.bak