*.tar.xz
/node_modules/

/build1/
/build2/
/build3/
/build4/

/nbproject/
/.idea/
.DS_Store

Thumbs.db

/fonts/
/replay/
/ygocore/
/mycard.exe
/config.yml
/log.log
/profile.log
/error-程序出错请到论坛反馈.txt

/ruby/
/pkg/
/Gemfile.lock