@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/font-awesome/css/font-awesome.min.css";

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, Arial, 'Source Sans Pro', "Microsoft YaHei", 'Microsoft JhengHei', "WenQuanYi Micro Hei", sans-serif;
  -webkit-user-select: none;
  margin: 0;
}

.platform {
  display: none;
}

body.win32 .platform-win32 {
  display: inherit;
}

body.darwin .platform-darwin {
  display: inherit;
}

#loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loading > button {
  background: none;
  border: 0;
  -webkit-appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
}

#loading > button:hover {
  opacity: .75;
}

#loading > img {
  width: 300px;
}

#loading p {
  position: relative;
  left: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #4b99ea;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

#loading p > span {
  opacity: 0;
}

#loading p > span:nth-child(1) {
  animation: show 2s infinite 0.0s linear;
}

#loading p > span:nth-child(2) {
  animation: show 2s infinite 0.2s linear;
}

#loading p > span:nth-child(3) {
  animation: show 2s infinite 0.4s linear;
}

@keyframes show {
  from {
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  to {
  }
}
