html, body {
    height: 100%;
}

body {
    font-family: -apple-system, Arial, 'Source Sans Pro', "Microsoft YaHei", 'Microsoft JhengHei', "WenQuanYi Micro Hei", sans-serif;
}

mycard {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.darwin #window-buttons {
    display: none;
}

#window-buttons > i {
    color: #a7a7a7;
    font-size: 18px;
    margin: .6rem .3rem;
}

#window-buttons > i:hover {
    color: #5e5e5e;
}

#navbar {
    -webkit-app-region: drag;
    padding-right: 0;
    flex-shrink: 0;
    border-radius: initial;
}

#navbar a, #navbar i, #navbar img {
    -webkit-app-region: no-drag;
}

#navbar-right > div {
    float: left;
    margin: 0 0.3rem;
}

.darwin #navbar {
    padding-left: 80px;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:active {
    background-color: rgba(0, 0, 0, 0.05);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.2); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

.scroll {
    overflow-y: hidden;
}

.scroll:hover {
    overflow-y: auto;

}
