<!-- Begin page content -->
<div #nav id="nav-wrapper" class="resize-wrapper resize-right">
  <nav id="apps" *ngIf="apps" class="bg-faded sidebar scroll">
    <div id="search" class="input-group">
      <i class="fa fa-search input-group-addon search" id="basic-addon1"></i>
      <input #search id="search-input" type="text" class="form-control search" placeholder="搜索游戏" aria-describedby="basic-addon1">
    </div>

    <ng-container *ngFor="let tag of tags">
      <ng-container *ngIf="grouped_apps[tag]">
        <span i18n>{tag, select, installed {已安装} test {测试} recommend {推荐} mysterious {迷之物体} touhou {东方 Project} touhou_pc98 {东方旧作} runtime_installed {已安装的运行库} }</span>
        <ul class="nav nav-pills flex-column">
          <li *ngFor="let cube of grouped_apps[tag]" class="nav-item">
            <a (click)="currentCube = cube" [class.active]="currentCube === cube" class="nav-link">
              <img *ngIf="cube.icon" class="icon" [src]="cube.icon">
              {{cube.name}}
              <progress-spinner *ngIf="cube.isWorking()" [value]="cube.status.progress / cube.status.total"></progress-spinner>
            </a>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </nav>
  <div class="resize" (mousedown)="mousedown($event)"></div>
</div>


<div id="right">
  <div id="main">
    <cube-detail *ngIf="currentCube" [currentCube]="currentCube"></cube-detail>
    <!--<router-outlet></router-outlet>-->
    <roster class="scroll"></roster>
  </div>

  <div id="candy-wrapper" class="resize-wrapper resize-top" style="max-height: calc( 100% - 180px )">
    <div class="resize" (mousedown)="mousedown($event)"></div>
    <candy *ngIf="currentCube" [currentCube]="currentCube"></candy>
  </div>
</div>

<div id="right-shadow"></div>
