<h1 class="page-header">{{app.name}}
    <button id="app_play" type="button" class="btn btn-default" ng-if="app.installation" ng-click="run()" ng-disabled="app.running">
        <span class="glyphicon glyphicon-play"></span> 开始
    </button>
    <button id="app_install" type="button" class="btn btn-default" ng-if="!app.installation" data-toggle="modal" data-target="#app_install_modal">
        <span class="glyphicon glyphicon-save"></span> 安装
    </button>
    <button id="app_add" type="button" class="btn btn-default" ng-if="!app.installation">
        <span class="glyphicon glyphicon-plus"></span> 添加
    </button>

    <div id="cloud_wrapper" class="cloud input-group pull-right hide" ng-if="app.installation">
        <span class="input-group-addon"><span class="glyphicon glyphicon-cloud"></span></span>
        <input id="cloud_address" type="text" class="form-control" value="255.255.255.255:65535">
    </div>
    <button id="cloud_button" type="button" class="cloud btn btn-default pull-right" ng-if="app.installation">
        <span class="glyphicon glyphicon-cloud"></span> 反重力场
    </button>
</h1>

<!-- Modal -->
<div class="modal fade" id="app_install_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">安装 {{app.name}}</h4>
            </div>
            <div class="modal-body">
                <!--<b>如果您已经有了 {{app.name}}，请取消，然后点 添加 按钮，选择您本机上 {{app.name}} 主程序</b>-->
                <p>即将开始安装 {{app.name}}</p>

                <p>下载大小: {{app.download.size | filesize}}</p>

                <form role="form">
                    <div class="form-group">
                        <label for="app_install_installation">安装位置</label>

                        <div class="input-group">
                            <input id="app_install_installation" type="text" class="form-control" value="{{app.default_installation_path}}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">浏览</button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="app_install_installation">快捷方式</label>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> 桌面
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <label>
                                    <input type="checkbox" checked> “开始”屏幕 <!--if windows >= 8-->
                                </label>
                            </label>
                        </div>

                        <!--if gnome-->
                        <!--
                        <div class="checkbox">
                            <label>
                                <label>
                                    <input type="checkbox" checked> “应用程序”菜单
                                </label>
                            </label>
                        </div>-->

                    </div>

                    <label ng-if="app.has_extra_languages">语言包</label>
                    <div class="checkbox" ng-repeat="(lang, download) in app.extra_languages">
                        <label>
                            <input type="checkbox" checked> {{lang | language_translate}}
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="install()">安装</button>
            </div>
        </div>
    </div>
</div>
<input id="app_add_file" class="hide" type="file" accept="application/octet-stream"/>
<div class="progress progress-striped active" ng-repeat="item in installing">
    <div class="progress-bar"  role="progressbar" aria-valuenow="{{item.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{item.progress}}%">
        {{item.label}}
    </div>
</div>
{{app.summary}}
<h2 class="sub-header">好友</h2>

<p>您有 8 位好友玩过 {{app.name}}，有 2 位正在玩</p>
<img class="friend img-thumbnail active" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail active" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">
<img class="friend img-thumbnail" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">

<h2 class="sub-header">收集</h2>

<div class="clearfix">
    <img class="achievement_image img-thumbnail pull-left" src="https://lh5.googleusercontent.com/-crYEtoQ-4Ho/AAAAAAAAAAI/AAAAAAAAAZE/OVA-78yQjU8/s46-c-k-no/photo.jpg">

    <div class="pull-left achievement_text">
        <p>最近获得的新符卡 <br> HJ的BUG</p>
        <span class="help-block">你已获得 120 / 200 的符卡 (60%)</span>
    </div>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
    </div>
</div>