<!--<h2>MyCard 招募公告</h2>-->

<!--<p>MyCard 伴随大家已经有 6 年了，在这 6 年间 MyCard 作为一个同人平台很感谢得到大家的支持，现在 MyCard 为了给支持的大家带来更好的体验，正在努力进行全新的改版的开发工作，希望可以得到大家的支持和帮助。</p>--><!--<p>职位：（前端）开发工程师</p>--><!--<p>负责平台客户端的开发，及网站和论坛相关的改版工作。</p>--><!--<p>职位描述：对 ACG 领域有一定的了解，会js等编程领域的专业技能，对软件开发具有一定的热情和自主能动性，认真严谨和团队意识。</p>--><!--<p>联系邮箱：hr@mycard.moe</p>--><!--<p>工作地点：上海市长宁区（工资面议）</p>-->

<!--<h2>联系我们</h2>--><!--<dl>--><!--<dt>应聘</dt>--><!--<dd>hr@mycard.com</dd>--><!--<dt>投稿、合作、侵权投诉</dt>--><!--<dd>business@mycard.com</dd>--><!--<dt>问题反馈</dt>--><!--<dd>support@mycard.moe</dd>--><!--</dl>-->
