:host {
    /*background-color: #c3d9ff;*/
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}

.actions {
    margin-bottom: 1rem;
}

.list-group {
    width: 20rem;
}

progress {
    margin: 2px 0 0;
}

.carousel-inner img {
    width: 100%;
}

.dependency {
    margin-right: 0.8em;
}

#news h3 {
    font-size: 1.5rem;
}

#news p {
    margin-bottom: 0;
}

#news a {
    display: block;
    margin-bottom: 1rem;
}

#network {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

#network .input-group-btn > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#network .input-group-btn > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.custom-file {
    width: 100%;
}

.custom-file-control:lang(en)::after{
    content: initial;
}

.custom-file-control {
    overflow: hidden;
    white-space: nowrap;
}