:host {
    /*background-color: #c3d9ff;*/
    flex-grow: 1;
    position: relative;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(50%) opacity(10%);
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.scroll {
    padding: 1rem 1rem 0 1rem;
    height: 100%;
}

.actions {
    margin-bottom: 1rem;
}

.list-group {
    width: 20rem;
}

progress {
    margin: 2px 0 0;
}

.carousel-inner img {
    width: 100%;
}

.dependency {
    margin-right: 0.8em;
}

#news h3 {
    font-size: 1.5rem;
}

#news p {
    margin-bottom: 0;
}

#news a {
    display: block;
}

#network {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
}

#network .input-group-btn > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#network .input-group-btn > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.custom-file {
    width: 100%;
}

.custom-file-control:lang(en)::after {
    content: initial;
}

.custom-file-control {
    overflow: hidden;
    white-space: nowrap;
}

h1 {
    font-size: 28px;
}

#status {
    font-size: 15px;
}

h2 {
    font-size: 20px;
    margin-bottom: 0;
}

#icon {
    width: 128px;
    height: 128px;
}

#main {
    display: flex;
    flex-direction: row;
}

.panel {
    border: 1px solid #eceeef;
    border-radius: 6px;
    background: rgba(255,255,255,.7);
    padding: .8rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,.05);
    position: relative;
}

#news h3 {
    padding-top: .8rem;
    margin-bottom: 0;
    font-size: 1rem;
}

#news p {
    font-size: 14px;
    color: #888;
}

#news a {
    font-size: 14px;
    color: #00a4d9;
}

#news span {
    font-size: 12px;
    color: #ccc;
}

.moreinfo {
    color: #00a4d9;
    display: block;
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 14px;
}

#local h2 {
    margin-bottom: .8rem;
}




#icon {
    width: 128px;
    height: 128px;
    box-shadow: 0 0 4px #ccc;
}

#main {
    display: flex;
    flex-direction: row;
}

#right {
    margin-left: 1rem;
}
h1 {
    font-size: 28px;
    margin-bottom: 0;
}

#time {
    font-size: 14px;
    margin-bottom: .6rem;
}

th {
    width: 25%;
}
.moreinfo {
    color: #00a4d9;
    display: block;
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 14px;
}

#arena {
    position: relative;
}

.btn-primary {
    background-color: #00a4d9;
    border-color: #008dbb;
}



/* 竞技场 */

h2 {
    font-size: 20px;
}

dt, dd {
    font-size: 14px;
}

table {
    margin-bottom: 0;
}

table th, table td {
    border-top: none;
    font-size: 14px;
    font-weight: normal;
}

/* */