:host {
    /*background-color: #c3d9ff;*/
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}


.list-group {
    width: 20rem;
}


.news-block {
    padding: 0;
}

progress {
    margin: 0;
    margin-top: 2px;
}

