<span *ngIf="grouped_apps.installed">已安装</span>
<ul *ngIf="grouped_apps.installed" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.installed" [class.active]="app.id==routingService.app">
        <a (click)="selectApp(app.id)" href="#">{{app.name[app.locales[0]]}}</a>
    </li>
</ul>
<span *ngIf="grouped_apps.yugioh">游戏王</span>
<ul *ngIf="grouped_apps.yugioh" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.yugioh" [class.active]="app.id==routingService.app">
        <a (click)="selectApp(app.id)" href="#">{{app.name[app.locales[0]]}}</a>
    </li>
</ul>
<span *ngIf="grouped_apps.touhou">东方 Project</span>
<ul *ngIf="grouped_apps.touhou" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.touhou" [class.active]="app.id==routingService.app">
        <a (click)="selectApp(app.id)" href="#">{{app.name[app.locales[0]]}}</a>
    </li>
</ul>
<span *ngIf="grouped_apps.touhou_pc98">东方旧作</span>
<ul *ngIf="grouped_apps.touhou_pc98" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.touhou_pc98" [class.active]="app.id==routingService.app">
        <a (click)="selectApp(app.id)" href="#">{{app.name[app.locales[0]]}}</a>
    </li>
</ul>