<span *ngIf="grouped_apps.installed.length">已安装</span>
<ul *ngIf="grouped_apps.installed" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.installed" [class.active]="app===appsService.currentApp">
        <a (click)="chooseApp(app)" href="#">{{app.name}}</a>
    </li>
</ul>
<span *ngIf="grouped_apps.yugioh.length">游戏王</span>
<ul *ngIf="grouped_apps.yugioh" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.yugioh" [class.active]="app===appsService.currentApp">
        <a (click)="chooseApp(app)" href="#">{{app.name}}</a>
    </li>
</ul>
<span *ngIf="grouped_apps.touhou.length">东方 Project</span>
<ul *ngIf="grouped_apps.touhou" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.touhou" [class.active]="app===appsService.currentApp">
        <a (click)="chooseApp(app)" href="#">{{app.name}}</a>
    </li>
</ul>
<span *ngIf="grouped_apps.touhou_pc98.length">东方旧作</span>
<ul *ngIf="grouped_apps.touhou_pc98" class="nav nav-sidebar">
    <li *ngFor="let app of grouped_apps.touhou_pc98" [class.active]="app===appsService.currentApp">
        <a (click)="chooseApp(app)" href="#">{{app.name}}</a>
    </li>
</ul>