<!DOCTYPE html>
<html lang="zh-CN" ng-app="maotama">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/logo.jpg">

    <title>毛玉</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/bootstrap-switch.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="lib/css/dashboard.css" rel="stylesheet">

    <link href="css/app.css" rel="stylesheet">
</head>

<body class="show_candy show_roster">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:;">毛玉</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" ng-if="current_user">
                <li><a href="javascript:;">首页</a></li>
                <li class="active"><a href="javascript:;">游戏</a></li>
                <li class="disabled"><a href="javascript:;">漫画</a></li>
                <li class="disabled"><a href="javascript:;">音乐</a></li>
                <li class="disabled"><a href="javascript:;">图书</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left" ng-if="!current_user">
                <li class="active"><a href="javascript:;">登录</a></li>
                <li><a href="https://moeid.my-card.in/users/sign_up?app=moeid" target="_blank">注册</a></li>
            </ul>
            <div id="user_info" class="nav navbar-nav navbar-right" ng-if="current_user">
                <img id="avatar" src="https://lh6.googleusercontent.com/-eRxRGjDvkvY/AAAAAAAAAAI/AAAAAAAAeGg/HetZCuangp8/s46-c-k-no/photo.jpg">
                <!--<span id="notification" class="label label-danger">9</span>-->
            </div>
            <div class="navbar-form navbar-right" ng-if="!current_user">
                <a href="https://moeid.my-card.in/users/sign_up?app=moeid" target="_blank" type="button" class="btn btn-success">注册</a>
            </div>
            <!--<form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="搜索...">
            </form>-->
        </div>
    </div>
    <div id="window_controls">
        <a id="window_control_minimize" class="window-control"><img src="img/minimize.png"></a>
        <a id="window_control_maximize" class="window-control"><img src="img/maximize.png"></a>
        <a id="window_control_unmaximize" hidden class="window-control"><img src="img/unmaximize.png"></a>
        <a id="window_control_close" class="window-control"><img src="img/close.png"></a>
    </div>
</div>

<div class="wrapper" id="wrapper" ng-show="current_user">
    <div class="col-sm-3 col-md-2 sidebar" ng-controller="AppsListController">
        <ul class="nav nav-sidebar">
            <li ng-repeat="app in apps" ng-class="active(app.id)">
                <a href="#/apps/{{app.id}}">{{app.name}}</a>
            </li>
        </ul>
    </div>
    <div id="right_wrapper" class="col-md-10">
        <div id="right_top_wrapper" class="row">
            <div class="main_wrapper">
                <div class="main" ng-view></div>
            </div>
            <div id="roster_aside">
                <div id="roster_title">
                    <form id="roster_search_wrapper">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <input id="roster_search" type="text" name="name" class="form-control">
                        </div>
                    </form>
                </div>
                <ul id="roster" class="list-unstyled"></ul>
                <ul id="roster_search_result" class="list-unstyled" hidden></ul>
                <div id="show_candy_wrapper">
                    <button type="button" class="btn btn-link btn-sm" id="show_candy">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="candy_wrapper">
    <!--font-size: 12px;
    line-height: 1.5;-->
    <button type="button" class="btn btn-link btn-sm" id="hide_candy">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
    <iframe id="candy" ng-src="{{candy_url()}}" nwdisable ng-controller="UserController"></iframe>
</div>


<div class="wrapper" id="signin" ng-show="!current_user" ng-controller="UserController">
    <div class="container">
        <form class="form-signin" role="form" ng-init="user.remember_me=true">
            <h2 class="form-signin-heading">登录</h2>
            <input type="text" class="form-control" ng-model="user.name" placeholder="用户名" required autofocus>
            <input type="password" class="form-control" ng-model="user.password" placeholder="密码" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" ng-model="user.remember_me"> 记住密码
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="sign_in(user)" ng-disabled="signing">
                登录
            </button>
        </form>

    </div>
    <!-- /container -->
    <div id="footer">
        <div class="footer content clearfix">
            <ul id="footer-list">
                <li>
                    毛玉
                </li>
                <li>
                    <a href="javascript:;">
                        隐私权和服务条款
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        帮助
                    </a>
                </li>
            </ul>
            <div id="lang-vis-control" style="display: inline;">
                <span id="lang-chooser-wrap" class="lang-chooser-wrap">
                    <label for="lang-chooser"><img src="https://ssl.gstatic.com/images/icons/ui/common/universal_language_settings-21.png" alt="更改语言"></label>
                    <select id="lang-chooser" class="lang-chooser" name="lang-chooser">
                        <option value="zh-CN" selected="selected">
                          ‪简体中文‬
                        </option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="lib/js/jquery-2.1.0.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/bootstrap-switch.min.js"></script>

<script src="lib/js/nw-desktop-notifications.js"></script>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>

<script src="js/app.js"></script>
<script src="js/maotama.js"></script>
</body>
</html>
