<nav class="navbar navbar-dark bg-inverse" [class.darwin]="platform == 'darwin'">
    <a class="navbar-brand" href="#">MyCard</a>
    <ul class="nav navbar-nav">
        <!--
        <li class="nav-item">
            <a class="nav-link" href="#">商店</a>
        </li>
        -->
        <li class="nav-item active">
            <a class="nav-link" href="#">游戏<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">社区</a>
        </li>
    </ul>
    <div class="navbar-right">
        <div id="user">
            <a href="#forum" class="require-login profile">
                <img id="avatar" src="https://ygobbs.com/letter_avatar_proxy/v2/letter/a/e47774/36.png" alt="image">
            </a>
            <a href="#forum" class="require-login profile item" id="username"></a>
            <a href="#ygopro" id="logout" class="require-login item">切换账号</a>
            <a href="#ygopro" id="refresh" class="item">刷新</a>
        </div>
        <div id="window-buttons" [class.darwin]="platform == 'darwin'">
            <i id="minimize"  class="fa fa-minus" aria-hidden="true"></i>
            <i id="maximize" class="fa fa-expand" aria-hidden="true"></i>
            <i id="restore" class="fa fa-clone" hidden aria-hidden="true"></i>
            <i id="close" class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</nav>


<!-- Fixed navbar -->
<!--<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container bg-inverse p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">Sticky footer</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Nav item <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Another nav item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">More nav</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Last link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>-->
<login class="page" [hidden]="routingService.component != 'login'"></login>
<store class="page" [hidden]="routingService.component != 'store'"></store>
<lobby class="page" [hidden]="routingService.component != 'lobby'"></lobby>
<community class="page" [hidden]="routingService.component != 'community'"></community>
