body {
    font-family: "Helvetica Neue", Helvetica, Arial, 'Source Sans Pro', "Microsoft YaHei", 'Microsoft JhengHei', "WenQuanYi Micro Hei", sans-serif;
}

nav {
    -webkit-app-region: drag;
    padding-right: 0;
}

nav.darwin {
    padding-left: 80px;
}

.navbar-right {
    float: right
}

.navbar-right > div, #user > .item {
    float: left;
    margin: 0 0.5rem;
}

#wrapper {
    padding-top: 54px;
    /*margin-bottom: 60px;*/
}

.nav-right {
    float: right;
}

#avatar {
    display: block;
    float: left;
    border-radius: 50%;
    height: 2rem;
    margin-top: 0.175rem;
}

.item {
    display: block;
    float: left;
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-left: 4px;
    color: #eceeef;
    text-decoration: none;
}

.item:hover {
    color: #fff;
}

a {
    cursor: default;
}
#window-buttons.darwin {
    display: none;
}

#window-buttons > i {
    color: rgba(255, 255, 255, .75);
    margin: .5rem;
}

li > a:hover, #window-buttons > i:hover {
    color: #fff;
}

