.page {
    flex-grow: 1;
    /*margin-bottom: 60px;*/
}

#avatar {
    display: block;
    float: left;
    border-radius: 50%;
    height: 2rem;
    margin-top: 0.175rem;
}

.item {
    display: block;
    float: left;
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-left: 4px;
    color: #eceeef;
    text-decoration: none;
}

#update-status > i {
    line-height: 1.5;
    color: #eceeef;
    padding-top: .425rem;
    padding-bottom: .425rem;
}

.item:hover, li > a:hover {
    color: #fff;
}

a {
    cursor: default;
}

/* https://github.com/electron/electron/issues/7661#event-827104990 */
lobby[hidden], webview[hidden] {
    width: 0;
    height: 0;
    flex: 0 1;
    display: inherit !important;
    overflow: hidden;
}