<form class="form-inline">
    <div class="form-group">
        <label for="exampleSelect1">卡组</label>
        <select class="form-control" id="exampleSelect1" name="deck" [(ngModel)]="current_deck">
            <option *ngFor="let deck of decks" [ngValue]="deck">{{deck}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-secondary" (click)="edit_deck(current_deck)">编辑</button>
    <button type="submit" (click)="delete_deck(current_deck)" class="btn btn-secondary">删除</button>
    <button type="submit" (click)="refresh()" class="btn btn-secondary">刷新</button>
</form>

<div>
    <button type="button" class="btn btn-primary">竞技匹配</button>
    <button type="button" class="btn btn-secondary">娱乐匹配</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-create-modal">创建房间</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-list-modal">房间列表</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-create-windbot">单人模式</button>
    <!--<button (click)="appsService.browse(routingService.app)" type="button" class="btn btn-secondary">浏览本地文件</button>-->
</div>

<div class="modal fade" id="game-create-windbot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">单人模式</h4>
            </div>
            <div class="modal-body">
                <label>选择对手</label>
                <div id="windbot" class="list-group">
                    <a *ngFor="let name of windbot" href="#" class="list-group-item"
                       (click)="join_windbot(name)">{{name}}</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="game-create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">创建房间</h4>
            </div>
            <form id="game-create" (submit)="create_room(room)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="game-create-title" class="col-sm-2 form-control-label">游戏标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="game-create-title" name="title" [(ngModel)]="room.title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="game-create-rule" class="col-sm-2 form-control-label">卡片允许</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="game-create-rule" name="rule" [(ngModel)]="room.rule">
                                <option value="0">OCG</option>
                                <option value="1">TCG</option>
                                <option value="2">OCG & TCG</option>
                                <option value="3">专有卡禁止</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="game-create-mode" class="col-sm-2 form-control-label">决斗模式</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="game-create-mode" name="mode" [(ngModel)]="room.mode">
                                <option value="0">单局模式</option>
                                <option value="1">比赛模式</option>
                                <option value="2">TAG</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">额外选项</label>
                        <div class="col-sm-5">
                            <div class="row">
                                <label for="game-create-start-lp" class="col-sm-6 form-control-label">初始 LP</label>
                                <div class="col-sm-6">
                                    <input name="start_lp" type="number" value="8000" min="1" max="65536"
                                           class="form-control form-control-sm game-create-extra"
                                           id="game-create-start-lp" [(ngModel)]="room.start_lp">
                                </div>
                            </div>
                            <div class="row">
                                <label for="game-create-start-hand" class="col-sm-6 form-control-label">初始手牌数</label>
                                <div class="col-sm-6">
                                    <input name="start_hand" type="number" value="5" min="0" max="16"
                                           class="form-control form-control-sm game-create-extra"
                                           id="game-create-start-hand" [(ngModel)]="room.start_hand">
                                </div>
                            </div>
                            <div class="row">
                                <label for="game-create-draw-count" class="col-sm-6 form-control-label">每回合抽卡</label>
                                <div class="col-sm-6">
                                    <input name="draw_count" type="number" value="1" min="0" max="16"
                                           class="form-control form-control-sm game-create-extra"
                                           id="game-create-draw-count" [(ngModel)]="room.draw_count">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="checkbox">
                                <label>
                                    <input name="enable_priority" type="checkbox" [(ngModel)]="room.enable_priority">允许启动效果优先权
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="no_check_deck" type="checkbox" [(ngModel)]="room.no_check_deck" >不检查卡组
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="no_shuffle_deck" type="checkbox" [(ngModel)]="room.no_shuffle_deck">开局不洗卡组
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <label class="col-sm-2">私密房间</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input name="private" type="checkbox">不在房间列表中显示 (约战功能还没做好，不要勾
                                </label>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal" data-toggle="modal"
                            data-target="#game-list-modal">查看房间
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">创建</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="game-list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <table class="table table-striped table-hover">
                <thead class="modal-header">
                <tr>
                    <th class="title">游戏标题</th>
                    <th class="users">玩家</th>
                    <th class="mode">决斗模式</th>
                    <th class="extra">额外选项</th>
                </tr>
                </thead>
                <tbody class="modal-body"></tbody>
            </table>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" data-dismiss="modal" data-toggle="modal"
                        data-target="#game-create-modal">创建房间
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>