/*#game-list-modal tbody {*/
/*display: block;*/
/*overflow-y: auto;*/
/*height: 21.5rem;*/
/*}*/

/*#game-list-modal thead {*/
/*position: relative;*/
/*display: block;*/
/*}*/

/*#game-list-modal tr {*/
/*width: 100%;*/
/*display: table;*/
/*}*/

/*#game-list-modal .table {*/
/*margin-bottom: 0;*/
/*}*/

/*#game-list-modal .close {*/
/*position: absolute;*/
/*top: 15px;*/
/*right: 15px;*/
/*}*/

/*#game-list-modal .modal-header {*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*}*/

/*#game-list-modal .modal-header th {*/
/*line-height: 36px;*/
/*padding-top: 0;*/
/*padding-bottom: 0;*/
/*border: none;*/

/*}*/

/*#game-list-modal .modal-body {*/
/*padding: 0;*/
/*height: 21.4rem;*/
/*}*/

/*#game-list-modal .modal-body tr:first-child td {*/
/*border-top: none;*/
/*}*/

/*#game-list-modal .modal-body tr:last-child td {*/
/*border-bottom: none;*/
/*}*/

/*!*fixme: auto width*!*/
/*#game-list-modal .title {*/
/*width: 25%;*/
/*}*/

/*#game-list-modal .users {*/
/*width: 20%;*/
/*}*/

/*#game-list-modal .mode {*/
/*width: 20%;*/
/*}*/

/*#game-list-modal .extra {*/
/*width: 35%;*/
/*}*/

/*.float-left {*/
/*float: left;*/
/*}*/

/*.actions {*/
/*margin-bottom: 1em;*/
/*}*/

dl {
    margin-bottom: 0;
}

/*.modal-dialog {*/
/*max-width: 600px;*/
/*}*/

/*label {*/
/*font-size: 15px;*/
/*}*/

form {
    padding-bottom: .75rem;
}

.btn-primary {
    background-color: #00a4d9;
    border-color: #008dbb;
}

#action, #match-time {
    margin-bottom: .5rem;
}

#match-time .input-group-addon {
    display: block;
}

#game-list-modal .modal-content {
    flex-direction: row;
}

#game-list-modal .table {
    font-size: 14px;
}

#game-list-modal .avatar {
    width: 18px;
    height: 18px;
}

#game-list-modal form {
    position: relative;
    background-color: #f7f7f7;
    border-left: 1px solid #eee;
    width: 200px;
    flex-shrink: 0;
}

#game-list-modal .modal-content {
    overflow: hidden;
}

#game-list-modal #game-create-actions {
    position: absolute;
    right: 0;
    bottom: .75rem;
}

#game-list-modal fieldset label:last-child {
    margin-bottom: 0;
}

#game-list {
    position: relative;
    flex-grow: 1;
}

#game-list-modal h3 {
    border-bottom: 2px solid #eceeef;
    padding: .75rem;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
}

#game-list-modal form > div, #game-list-modal form > fieldset {
    padding: 0 .75rem;
    font-size: 14px;
}

#game-list-close {
    position: absolute;
    right: .75rem;
    top: .5rem;
}

#game-list-modal th {
    white-space: nowrap
}

#game-list-modal legend {
    font-size: 14px;
}

#game-list-modal fieldset label {
    padding-right: 0;
}

#game-replay-modal .nav-tabs .nav-item {
    font-size: 15px;
}

#game-replay-bilibili webview {
    height: 440px;
}

#game-replay-watch {
    max-height: 500px;
}

#game-replay-watch table {
    font-size: 14px;
}

#game-replay-watch .avatar {
    width: 18px;
    height: 18px;
}
