<form class="form-inline">
    <div class="form-group">
        <label for="exampleSelect1">卡组</label>
        <select class="form-control" id="exampleSelect1">
            <option *ngFor="let item of decks">{{item}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-secondary">编辑</button>
    <button type="submit" class="btn btn-secondary">删除</button>
    <button type="submit" (click)="refresh()" class="btn btn-secondary">刷新</button>
</form>

<div>
    <button type="button" class="btn btn-primary">竞技匹配</button>
    <button type="button" class="btn btn-secondary">娱乐匹配</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-create-modal">创建房间</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-list-modal">房间列表</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-create-windbot">单人模式</button>
    <button (click)="appsService.browse(routingService.app)" type="button" class="btn btn-secondary">浏览本地文件</button>
</div>