#game-list-modal tbody {
    display: block;
    overflow-y: auto;
    height: 21.5rem;
}
#game-list-modal thead {
    position: relative;
    display: block;
}
#game-list-modal tr {
    width: 100%;
    display: table;
}

#game-list-modal .table {
    margin-bottom: 0;
}
#game-list-modal .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#game-list-modal .players {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#game-list-modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
#game-list-modal .modal-header {
    padding-left: 0;
    padding-right: 0;
}
#game-list-modal .modal-header th {
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;

}
#game-list-modal .modal-body {
    padding: 0;
    height: 21.4rem;
}

#game-list-modal .modal-body tr:first-child td{
    border-top: none;
}

#game-list-modal .modal-body tr:last-child td{
    border-bottom: none;
}

/*fixme: auto width*/
#game-list-modal .title {
    width: 25%;
}
#game-list-modal .users {
    width: 20%;
}
#game-list-modal .mode {
    width: 20%;
}
#game-list-modal .extra {
    width: 35%;
}

.float-left {
    float: left;
}