<form class="form-inline actions">
    <div class="form-group">
        <label i18n for="exampleSelect1">卡组</label>
        <select class="form-control" id="exampleSelect1" name="deck" [(ngModel)]="current_deck">
            <option *ngFor="let deck of decks" [ngValue]="deck">{{deck}}</option>
        </select>
    </div>
    <button i18n [disabled]="!appsService.allReady(app)" type="submit" class="btn btn-secondary" (click)="edit_deck(current_deck)">编辑</button>
    <button i18n [disabled]="!appsService.allReady(app)" type="submit" (click)="delete_deck(current_deck)" class="btn btn-secondary">删除</button>
    <button i18n [disabled]="!appsService.allReady(app)" type="submit" (click)="refresh()" class="btn btn-secondary">刷新</button>
</form>

<div class="actions">
    <button i18n [disabled]="matching||!appsService.allReady(app)" (click)="request_match('athletic')" *ngIf="matching_arena != 'athletic'" type="button" class="btn btn-primary">竞技匹配</button>
    <button i18n [disabled]="!appsService.allReady(app)" (click)="cancel_match()" *ngIf="matching_arena == 'athletic'" type="button" class="btn btn-primary">取消等待</button>
    <button i18n [disabled]="matching||!appsService.allReady(app)" (click)="request_match('entertain')" *ngIf="matching_arena != 'entertain'" type="button" class="btn btn-secondary">娱乐匹配</button>
    <button i18n [disabled]="!appsService.allReady(app)" (click)="cancel_match()" *ngIf="matching_arena == 'entertain'" type="button" class="btn btn-secondary">取消等待</button>
    <button i18n [disabled]="matching||!appsService.allReady(app)" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-create-modal">创建房间</button>
    <button i18n [disabled]="matching||!appsService.allReady(app)" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-list-modal">房间列表</button>
    <button i18n [disabled]="!appsService.allReady(app)" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#game-create-windbot">单人模式</button>
</div>

<!--<div class="actions">-->
<!--<h2 i18n>排位成绩 (测试中)</h2>-->
<!--&lt;!&ndash;{"exp":1839,"exp_rank":"9","pt":2207.2901,"arena_rank":"30","win":"703","lose":"568","draw":5,"all":"1276","ratio":"55.09"}&ndash;&gt;-->
<!--<dl *ngIf="points" class="row">-->
<!--<dt i18n class="col-xs-2">D.P 排名</dt>-->
<!--<dd class="col-xs-1">{{points.arena_rank}}</dd>-->
<!--<dt i18n class="col-xs-2">D.P 胜率</dt>-->
<!--<dd class="col-xs-1">{{points.ratio}}%</dd>-->
<!--<dt i18n class="col-xs-2">胜场</dt>-->
<!--<dd class="col-xs-1">{{points.win}}</dd>-->
<!--<dt i18n class="col-xs-2">负场</dt>-->
<!--<dd class="col-xs-1">{{points.lose}}</dd>-->
<!--<dt i18n class="col-xs-2">平局</dt>-->
<!--<dd class="col-xs-1">{{points.draw}}</dd>-->
<!--<dt i18n class="col-xs-2">总场</dt>-->
<!--<dd class="col-xs-1">{{points.all}}</dd>-->
<!--<dt i18n class="col-xs-2">EXP 排名</dt>-->
<!--<dd class="col-xs-1">{{points.exp_rank}}</dd>-->
<!--<dt i18n class="col-xs-2">EXP</dt>-->
<!--<dd class="col-xs-1">{{points.exp}}</dd>-->
<!--</dl>-->
<!--<a i18n href="https://mycard.moe/ygopro/arena/" target="_blank">更多资料</a>-->
<!--</div>-->


<div class="modal fade" id="game-create-windbot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 i18n class="modal-title" id="myModalLabel1">单人模式</h4>
            </div>
            <div class="modal-body">
                <label i18n>选择对手</label>
                <div id="windbot" class="list-group">
                    <a *ngFor="let name of windbot" href="#" class="list-group-item" (click)="join_windbot(name)">{{name}}</a>
                </div>
            </div>
            <div class="modal-footer">
                <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="game-create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" i18n id="myModalLabel">创建房间</h4>
            </div>
            <form id="game-create" (submit)="create_room(room)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="game-create-title" i18n class="col-sm-2 form-control-label">游戏标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="game-create-title" name="title" [(ngModel)]="room.title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label i18n for="game-create-rule" class="col-sm-2 form-control-label">卡片允许</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="game-create-rule" name="rule" [(ngModel)]="room.options.rule">
                                <option i18n value="0">OCG</option>
                                <option i18n value="1">TCG</option>
                                <option i18n value="2">OCG & TCG</option>
                                <option i18n value="3">专有卡禁止</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="game-create-mode" i18n class="col-sm-2 form-control-label">决斗模式</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="game-create-mode" name="mode" [(ngModel)]="room.options.mode">
                                <option i18n value="0">单局模式</option>
                                <option i18n value="1">比赛模式</option>
                                <option i18n value="2">TAG</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label i18n class="col-sm-2 form-control-label">额外选项</label>
                        <div class="col-sm-5">
                            <div class="row">
                                <label i18n for="game-create-start-lp" class="col-sm-6 form-control-label">初始 LP</label>
                                <div class="col-sm-6">
                                    <input name="start_lp" type="number" value="8000" min="1" max="65536" class="form-control form-control-sm game-create-extra" id="game-create-start-lp" [(ngModel)]="room.options.start_lp">
                                </div>
                            </div>
                            <div class="row">
                                <label i18n for="game-create-start-hand" class="col-sm-6 form-control-label">初始手牌数</label>
                                <div class="col-sm-6">
                                    <input name="start_hand" type="number" value="5" min="0" max="16" class="form-control form-control-sm game-create-extra" id="game-create-start-hand" [(ngModel)]="room.options.start_hand">
                                </div>
                            </div>
                            <div class="row">
                                <label i18n for="game-create-draw-count" class="col-sm-6 form-control-label">每回合抽卡</label>
                                <div class="col-sm-6">
                                    <input name="draw_count" type="number" value="1" min="0" max="16" class="form-control form-control-sm game-create-extra" id="game-create-draw-count" [(ngModel)]="room.options.draw_count">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="checkbox">
                                <input id="enable_priority" name="enable_priority" type="checkbox" [(ngModel)]="room.options.enable_priority">
                                <label i18n for="enable_priority">允许启动效果优先权</label>
                            </div>
                            <div class="checkbox">
                                <input id="no_check_deck" name="no_check_deck" type="checkbox" [(ngModel)]="room.options.no_check_deck">
                                <label i18n for="no_check_deck">不检查卡组</label>
                            </div>
                            <div class="checkbox">
                                <input id="no_shuffle_deck" name="no_shuffle_deck" type="checkbox" [(ngModel)]="room.options.no_shuffle_deck">
                                <label for="no_shuffle_deck" i18n>开局不洗卡组</label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <label class="col-sm-2">私密房间</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input name="private" type="checkbox">不在房间列表中显示 (约战功能还没做好，不要勾
                                </label>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button i18n type="button" class="btn btn-secondary float-left" data-dismiss="modal" data-toggle="modal" data-target="#game-list-modal">查看房间</button>
                    <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button i18n type="submit" class="btn btn-primary">创建</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade" id="game-list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <table class="table table-striped table-hover">
                <thead class="modal-header">
                <tr>
                    <th i18n class="title">游戏标题</th>
                    <th i18n class="users">玩家</th>
                    <th i18n class="mode">决斗模式</th>
                    <th i18n class="extra">额外选项</th>
                </tr>
                </thead>
                <tbody class="modal-body">

                <tr *ngFor="let room of rooms" class="room" (click)="join_room(room)">
                    <td class="title">{{room.title}}</td>
                    <td class="users">
                        <img *ngFor="let user of room.users" class="avatar" [src]="'https://ygobbs.com/user_avatar/ygobbs.com/' + user.username + '/25/1.png'">
                    </td>
                    <td class="mode">{{{'0': '单局模式', '1': '比赛模式', '2': 'TAG'}[room.options.mode]}}</td>
                    <td class="extra">
                        <span *ngIf="room.options.rule != default_options.rule">{{{'0': 'OCG', '1': 'TCG', '2': 'O/T', '3': '专有卡禁止'}[room.options.rule]}}</span>
                        <span i18n *ngIf="room.options.start_lp != default_options.start_lp">{{room.options.start_lp}} LP</span>
                        <span i18n *ngIf="room.options.start_hand != default_options.start_hand">{{room.options.start_hand}} 初始</span>
                        <span i18n *ngIf="room.options.draw_count != default_options.draw_count">{{room.options.draw_count}} 抽卡</span>
                        <span i18n *ngIf="room.options.enable_priority != default_options.enable_priority">优先权</span>
                        <span i18n *ngIf="room.options.no_check_deck != default_options.no_check_deck">不检查</span>
                        <span i18n *ngIf="room.options.no_shuffle_deck != default_options.no_shuffle_deck">不洗卡</span>
                    </td>
                </tbody>
            </table>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer">
                <button i18n type="button" class="btn btn-secondary float-left" data-dismiss="modal" data-toggle="modal" data-target="#game-create-modal">创建房间</button>
                <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>