#game-list-modal tbody {
    display: block;
    overflow-y: auto;
    height: 21.5rem;
}

#game-list-modal thead {
    position: relative;
    display: block;
}

#game-list-modal tr {
    width: 100%;
    display: table;
}

#game-list-modal .table {
    margin-bottom: 0;
}

#game-list-modal .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#game-list-modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

#game-list-modal .modal-header {
    padding-left: 0;
    padding-right: 0;
}

#game-list-modal .modal-header th {
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;

}

#game-list-modal .modal-body {
    padding: 0;
    height: 21.4rem;
}

#game-list-modal .modal-body tr:first-child td {
    border-top: none;
}

#game-list-modal .modal-body tr:last-child td {
    border-bottom: none;
}

/*fixme: auto width*/
#game-list-modal .title {
    width: 25%;
}

#game-list-modal .users {
    width: 20%;
}

#game-list-modal .mode {
    width: 20%;
}

#game-list-modal .extra {
    width: 35%;
}

.float-left {
    float: left;
}

.actions {
    margin-bottom: 1em;
}

dl {
    margin-bottom: 0;
}

.modal-dialog {
    max-width: 600px;
}

label {
    font-size: 15px;
}

h2 {
    font-size: 20px;
}

dt, dd {
    font-size: 14px;
}

.panel {
    border: 1px solid #eceeef;
    border-radius: 6px;
    background: rgba(255,255,255,.7);
    padding: .8rem;
    margin-bottom: 1rem;
}

table {
    margin-bottom: 0;
}

table th, table td {
    border-top: none;
    font-size: 14px;
    font-weight: normal;
}


/*.table-curved {*/
    /*border-collapse: separate;*/
    /*border: solid #ccc 1px;*/
    /*border-radius: 6px;*/
    /*border-left: 0px;*/
    /*border-top: 0px;*/
/*}*/
/*.table-curved > thead:first-child > tr:first-child > th {*/
    /*border-bottom: 0px;*/
    /*border-top: solid #ccc 1px;*/
/*}*/
/*.table-curved td, .table-curved th {*/
    /*border-left: 1px solid #ccc;*/
    /*border-top: 1px solid #ccc;*/
/*}*/
/*.table-curved > :first-child > :first-child > :first-child {*/
    /*border-radius: 6px 0 0 0;*/
/*}*/
/*.table-curved > :first-child > :first-child > :last-child {*/
    /*border-radius: 0 6px 0 0;*/
/*}*/
/*.table-curved > :last-child > :last-child > :first-child {*/
    /*border-radius: 0 0 0 6px;*/
/*}*/
/*.table-curved > :last-child > :last-child > :last-child {*/
    /*border-radius: 0 0 6px 0;*/
/*}*/



#icon {
    width: 128px;
    height: 128px;
    box-shadow: 0 0 4px #ccc;
}

#main {
    display: flex;
    flex-direction: row;
}

.panel {
    border: 1px solid #eceeef;
    border-radius: 6px;
    background: rgba(255,255,255,.7);
    padding: .8rem;
    margin-bottom: 1rem;
    position: relative;
}
#right {
    margin-left: 1rem;
}
h1 {
    font-size: 28px;
    margin-bottom: 0;
}

#time {
    font-size: 14px;
    margin-bottom: .6rem;
}

#action {
    margin-bottom: .5rem;
}

form {
    margin-bottom: 0;
}

.btn-primary {
    background-color: #00a4d9;
    border-color: #008dbb;
}

th {
    width: 25%;
}
.moreinfo {
    color: #00a4d9;
    display: block;
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 14px;
}

#arena {
    position: relative;
}

select {
    margin-right: 0 !important;
}