:host {
  position: relative;
}

.moreinfo {
  color: #00a4d9;
  display: block;
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 14px;
}

h2 {
  font-size: 20px;
}

dt, dd {
  font-size: 14px;
}

table {
  margin-top: .5rem;
  margin-bottom: 0;
}

table th, table td {
  border-top: none;
  font-size: 14px;
  font-weight: normal;
}
