<nav id="navbar" class="navbar navbar-toggleable-md navbar-light">
  <a id="navbar-brand" class="navbar-brand" href="#">MyCard</a>
  <ul class="navbar-nav mr-auto">
    <li *ngIf="!loginService.logged_in" class="nav-item active">
      <a i18n class="nav-link" href="#">登录</a>
    </li>

    <!--<li *ngIf="loginService.logged_in" [ngClass]="{active: currentPage === 'store'}" class="nav-item">-->
    <!--<a (click)="currentPage = 'store'" class="nav-link" href="#">商店</a>-->
    <!--</li>-->

    <li *ngIf="loginService.logged_in" [ngClass]="{active: currentPage === 'lobby'}" class="nav-item">
      <a i18n (click)="currentPage='lobby'" class="nav-link" href="#">游戏</a>
    </li>
    <li *ngIf="loginService.logged_in" [ngClass]="{active: currentPage === 'community'}" class="nav-item">
      <a i18n (click)="currentPage='community'" class="nav-link" href="#">社区</a>
    </li>
    <!--<li *ngIf="loginService.logged_in" [ngClass]="{active: currentPage === 'moesound'}" class="nav-item">-->
    <!--<a i18n (click)="currentPage='moesound'" class="nav-link" href="#">萌音</a>-->
    <!--</li>-->
    <!--<li *ngIf="loginService.logged_in" [ngClass]="{active: currentPage === 'about'}" class="nav-item">-->
    <!--<a i18n (click)="currentPage='about'" class="nav-link" href="#">关于</a>-->
    <!--</li>-->
  </ul>
  <div id="navbar-right">
    <div id="update-status">
      <i #error [hidden]="update_status != 'error'" (click)="update_retry()" class="fa fa-exclamation-circle"
         data-toggle="tooltip" i18n-title title="更新出错，点击重试"></i>
      <i #checking_for_update [hidden]="update_status != 'checking-for-update'" class="fa fa-spinner fa-pulse fa-spin"
         data-toggle="tooltip" i18n-title title="正在检查更新"></i>
      <i #update_available [hidden]="update_status != 'update-available'" class="fa fa-refresh fa-spin"
         data-toggle="tooltip" i18n-title title="正在下载更新"></i>
      <i #update_downloaded [hidden]="update_status != 'update-downloaded'" (click)="update_install()"
         class="fa fa-angle-double-up" data-toggle="tooltip" i18n-title title="下载更新完成，点击安装"></i>
    </div>
    <div id="user" *ngIf="loginService.logged_in">
      <a href="#" class="profile"><img id="avatar" [src]="loginService.user.avatar_url" alt="image"></a>
      <a href="#" class="profile item" id="username">{{loginService.user.username}}</a>
      <i i18n (click)="loginService.logout()" class="fa fa-sign-out item-icon" aria-hidden="true" i18n-title
         title="切换用户"></i>
      <i i18n data-toggle="modal" data-target="#settings-modal" class="fa fa-cog item-icon" aria-hidden="true"
         i18n-title title="设置"></i>
    </div>
    <div id="border" *ngIf="platform === 'win32'">|</div>
    <div id="window-buttons" *ngIf="platform === 'win32'">
      <i i18n (click)="currentWindow.minimize()" class="fa fa-minus" i18n-title title="最小化"></i>
      <i i18n *ngIf="!currentWindow.isMaximized()" (click)="currentWindow.maximize()" class="fa fa-expand" i18n-title
         title="最大化"></i>
      <i i18n *ngIf="currentWindow.isMaximized()" (click)="currentWindow.unmaximize()" class="fa fa-clone" i18n-title
         title="还原"></i>
      <i i18n (click)="currentWindow.hide()" class="fa fa-times" i18n-title title="关闭"></i>
    </div>
  </div>
</nav>

<mycard-lobby class="page" *ngIf="loginService.logged_in" [hidden]="currentPage != 'lobby'"></mycard-lobby>

<webview class="page" [src]="loginService.logging_out ? loginService.logoutUrl() : loginService.loginUrl()"
         [hidden]="loginService.logged_in || loginService.logging_out"
         (will-navigate)="loginService.return_sso($event.url)"
         (did-get-redirect-request)="loginService.return_sso($event.newURL)"
         (new-window)="openExternal($event.url)"></webview>


<webview class="page" [hidden]="currentPage != 'community'" src="https://ygobbs.com"
         (new-window)="openExternal($event.url)"></webview>

<!-- Modal -->
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 i18n class="modal-title" id="myModalLabel">MyCard 设置</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="submit()">
        <div class="modal-body">
          <div class="container">
            <div class="form-group row">
              <label i18n for="locale" class="col-sm-2 col-form-label">语言</label>
              <div class="col-sm-10">
                <select class="form-control" id="locale" [(ngModel)]="locale" name="locale">
                  <option value="en-US">English</option>
                  <option value="zh-CN">简体中文</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button i18n type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
