<div id="network" *ngIf="currentApp.network && currentApp.network.protocol == 'maotama'">
  <div class="input-group input-group-sm">
    <input *ngIf="appsService.connections.get(currentApp)" [value]="appsService.connections.get(currentApp).address || 'Loading...'" readonly type="text" class="form-control" title="address">
    <div class="input-group-btn" style="flex-direction: row">
      <button i18n *ngIf="!appsService.connections.get(currentApp)" (click)="appsService.network(currentApp, currentApp.network.servers[0])" type="button" class="btn btn-secondary btn-sm">联机</button>
      <button i18n *ngIf="appsService.connections.get(currentApp)" (click)="clipboard.writeText(appsService.connections.get(currentApp).address)" [disabled]="!appsService.connections.get(currentApp).address" type="button" class="btn btn-secondary btn-sm">复制</button>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
      <div class="dropdown-menu" [class.dropdown-menu-right]="appsService.connections.get(currentApp)">
        <h6 i18n class="dropdown-header">选择服务器</h6>
        <a *ngFor="let server of currentApp.network.servers" (click)="appsService.network(currentApp, server)" class="dropdown-item" href="#">{{server.id}}</a>
        <div *ngIf="appsService.connections.get(currentApp)" class="dropdown-divider"></div>
        <a i18n *ngIf="appsService.connections.get(currentApp)" (click)="appsService.connections.get(currentApp).connection.close()" class="dropdown-item" href="#">取消</a>
      </div>
    </div>
  </div>
</div>
