<nav id="navbar" class="navbar navbar-toggleable-md navbar-light">
  <a id="navbar-brand" class="navbar-brand" href="#">MoeCube</a>
  <ul class="navbar-nav mr-auto">
    <ng-template #login>
      <li class="nav-item active"><a i18n class="nav-link" href="#">登录</a></li>
    </ng-template>

    <ng-container *ngIf="loginService.logged_in; else login">
      <li routerLinkActive="active" class="nav-item"><a i18n routerLink="lobby" class="nav-link" href="#">游戏</a></li>
      <li routerLinkActive="active" class="nav-item"><a i18n routerLink="community" class="nav-link" href="#">社区</a>
      </li>
    </ng-container>

  </ul>
  <div id="navbar-right">
    <update></update>

    <ul class="navbar-nav mr-auto" *ngIf="loginService.logged_in">
      <li routerLinkActive="active" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
          <img id="avatar" [src]="loginService.user.avatar_url" alt="avatar">
          {{loginService.user.username}}
        </a>
        <div class="dropdown-menu">
          <a i18n class="dropdown-item" routerLink="profile">个人资料</a>
          <a i18n (click)="loginService.logout()" routerLink="login" class="dropdown-item">切换用户</a>
          <a i18n data-toggle="modal" data-target="#settings-modal" class="dropdown-item" href="#">设置</a>
        </div>
      </li>
    </ul>

    <window-control *ngIf="platform !== 'darwin'"></window-control>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 i18n class="modal-title" id="myModalLabel">MoeCube 设置</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="submit()">
        <div class="modal-body">
          <div class="container">
            <div class="form-group row">
              <label i18n for="locale" class="col-sm-2 col-form-label">语言</label>
              <div class="col-sm-10">
                <select class="form-control" id="locale" [(ngModel)]="locale" name="locale">
                  <option value="en-US">English</option>
                  <option value="zh-CN">简体中文</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button i18n type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>
